.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-app-name {
  /* background: linear-gradient(90deg, var(--primary-color), #ee0979); */
  background: linear-gradient(90deg, var(--primary-color), #1629a7);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
