@tailwind base;
@tailwind components;
@tailwind utilities;
:where(.css-dev-only-do-not-override-98ntnt).ant-tabs-top > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-98ntnt).ant-tabs-bottom > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-98ntnt).ant-tabs-top > div > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-98ntnt).ant-tabs-bottom > div > .ant-tabs-nav::before {
      border-bottom: 0.1rem solid var(--border-color-input) !important;
}

body.dark :where(.css-dev-only-do-not-override-98ntnt).ant-rate .ant-rate-star-first,
:where(.css-dev-only-do-not-override-98ntnt).ant-rate .ant-rate-star-second {
      color: #ccc;
}

:where(.css-dev-only-do-not-override-98ntnt).ant-tabs .ant-tabs-tab:hover {
      color: var(--color-main);
}

:where(.css-dev-only-do-not-override-98ntnt) a:hover {
      color: var(--color-main);
}

:where(.css-dev-only-do-not-override-98ntnt).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
      background-color: var(--color-section-theme) !important;
      border-color: var(--border-color-input) !important;
      color: var(--text-theme) !important;
}

:where(.css-dev-only-do-not-override-98ntnt).ant-select-single .ant-select-selector {
      color: var(--text-theme) !important;
}

:where(.css-dev-only-do-not-override-98ntnt).ant-select-single.ant-select-open .ant-select-selection-item {
      color: var(--text-theme) !important;
}

:where(.css-dev-only-do-not-override-98ntnt).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
      color: var(--text-theme) !important;
}

/*active select*/
:where(.css-dev-only-do-not-override-98ntnt).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      background-color: var(--color-main) !important;
      color: #fff !important;
}

/*Select hover*/
:where(.css-dev-only-do-not-override-98ntnt).ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      background-color: var(--color-main) !important;
      color: #fff !important;
      transition-duration: 0s !important;
}

/*Mũi tên select*/
:where(.css-dev-only-do-not-override-98ntnt).ant-select .ant-select-arrow {
      color: var(--text-theme) !important;
}

/*Scroll bar Select*/
.rc-virtual-list-scrollbar-thumb {
      background-color: var(--color-main) !important;
}

/*
      border tab active
*/
.ant-tabs-tab-active {
      border-bottom: 0.1rem solid var(--color-main) !important; /* đổi #1890ff thành màu bạn muốn */
}

/* Nếu bạn dùng dòng dưới tab như mặc định */
.ant-tabs-ink-bar {
      background: var(--color-main) !important; /* màu của thanh gạch dưới tab */
}

:where(.css-dev-only-do-not-override-98ntnt).ant-select-dropdown {
      background-color: var(--color-section-theme) !important;
      color: var(--text-theme) !important;
      border: 0.1rem solid var(--border-color-input) !important;
}

:where(.css-dev-only-do-not-override-98ntnt).ant-select-dropdown .ant-select-item {
      color: var(--text-theme) !important;
}

/**Rate*/
:where(.css-98ntnt).ant-rate .ant-rate-star-first,
:where(.css-98ntnt).ant-rate .ant-rate-star-second {
      color: var(--color-main);
}

/*Fix color picker size*/
@media (max-width: 768px) {
      .custom-picker-color {
            max-width: 90vw !important;
      }

      .custom-picker-color .ant-popover-inner {
            width: 90vw !important;
      }

      .ant-color-picker-inner {
            width: 90vw !important;
      }
      .ant-color-picker-inner > div:first-of-type {
            width: 85vw !important;
      }
      .ant-color-picker-presets {
            display: flex;
            flex-direction: column;
            gap: 4px;
      }

      .ant-color-picker-presets .ant-color-picker-presets-item {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
      }
}

/* body.dark .ant-rate-star-first {
      color: blue !important;
}

body.dark .ant-rate-star-second {
      color: blue !important;
} */

@layer base {
      :root {
            --borderInputAnswerFocus: "#ccc", --background: 0 0% 100%;
            --bg-input-core: #ffffff;
            --bg-input-core-2: #000000;
            --bg-dark-readOnly: #08112b;
            --foreground: 222.2 84% 4.9%;
            --color-main-profile: #2662d9;
            --card: 0 0% 100%;
            --card-foreground: 222.2 84% 4.9%;

            --popover: 0 0% 100%;
            --popover-foreground: 222.2 84% 4.9%;

            --primary: 222.2 47.4% 11.2%;
            --primary-foreground: 210 40% 98%;

            --secondary: 210 40% 96.1%;
            --secondary-foreground: 222.2 47.4% 11.2%;

            --muted: 210 40% 96.1%;
            --muted-foreground: 215.4 16.3% 46.9%;

            --accent: 210 40% 96.1%;
            --accent-foreground: 222.2 47.4% 11.2%;

            --destructive: 0 84.2% 60.2%;
            --destructive-foreground: 210 40% 98%;
            --form-theme-dark: #08112b;

            --border: 214.3 31.8% 91.4%;
            --input: 214.3 31.8% 91.4%;
            --ring: 222.2 84% 4.9%;
            --radius: 0.5rem;
            --bg-client-loading: #3d52a2;
            --color-gap-empty: #f1f4fb;
            /* --color-main: #6262e5; */
            --color-main: #3d52a2;
            --color-section-theme: #08112b;
            --text-theme: #000;
            --color-main-hover: rgb(229 231 235);
            --border-color: hwb(0 10% 88% / 0.189);
            --bg-form-nav: #fff;
            --bg-input-theme: #fff;
            --btn-design: #2d68ff;
            --bg-model: #eef1f9;
            --color-btn-primarily: rgb(37, 104, 170);
            --toast-success: #4299de;
            --toast-error: #f4454c;
            --toast-warning: #ea580c;
            --border-color-input: rgb(218, 220, 224);

            /* --border-color-input: rgb(209 213 219 / 27%); */
            --background: 0 0% 100%;
            /* --chart-1: 12 76% 61%; */
            --chart-1: 227.52deg 45.29% 43.73%;
            --chart-2: 173 58% 39%;
            --chart-3: 197 37% 24%;
            --chart-4: 43 74% 66%;
            --chart-5: 27 87% 67%;
            --chart-primary: 241.82deg 69.62% 53.53%;
            --chart-danger: 343.94deg 68.97% 49.95%;
            --chart-normal: 242.18deg 35.03% 30.78%;
            --chart-custom-v1: 160, 60%, 45%;
            --form-theme-light: #fff;
            --form-theme-dark: #08112b;
            --form-theme-light-color: #000;
            --form-theme-dark-color: #fff;
      }

      html {
            scroll-behavior: smooth;
      }

      body.light {
            --bg-form-nav: #fff;
            --color-gap-empty: #eef1f9;
            --color-main: #3d52a2;
            --bg-scrollbar-thumb-normal: #636363;
            --bg-scrollbar-track-normal: #e9e2e2;
            --bg-answer-option: rgb(180 183 189 / 42%);
            --color-section-theme: #fefefe;
            --text-theme: #000;
            --border-color: hwb(0 10% 88% / 0.189);
            --bg-model: #eef1f9;
            --color-main-hover: rgb(229 231 235);
            --border-form-item: #e8e8e8;
            --bg-space: #f4f6ff;
            /* --bg-module-other: #17174b; */
            --color-main: #3d52a2;

            --bg-module-other: #e1e1e1ca;
            /* --border-color-input: rgb(200 205 214 / 42%); */
            /* --border-color-input: rgb(169 169 204 / 74%); */
            --border-color-input: rgb(218, 220, 224);

            /* --border-color-side: rgb(200 205 214 / 42%); */
            --border-color-side: rgb(200 205 214 / 74%);

            /* --color-btn-primarily: #2d68ff;ư */
      }

      body.dark {
            --color-main: #151274;
            --bg-form-nav: #393c73;
            --color-gap-empty: #040429;
            /* --color-main: #3b36db; */
            --bg-answer-option: rgb(222 224 228);

            --color-main: #35336a;
            /* --color-section-theme: #0d1117; */

            --color-section-theme: #08112b;
            --text-theme: #ccc;
            --color-main-hover: rgb(229 231 235);
            --border-color: #14113c;
            --bg-model: #0f1623;
            --color-btn-primarily: rgb(37, 104, 170);
            --border-form-item: transparent;
            --bg-space: #252525;
            --bg-module-other: #17174bb0;
            --border-color-input: rgb(209 213 219 / 27%);
            --border-color-side: rgb(200 205 214 / 18%);
            --bg-scrollbar-thumb-normal: rgba(203, 191, 191, 0.758);
            --bg-scrollbar-track-normal: #2c2c2c;
      }

      body {
            overflow-x: auto !important;
            /* background: var(--color-section-theme) !important; */
      }

      table {
            width: 70%;
            border-collapse: collapse;
      }

      th {
            height: 80%;
      }

      table,
      th,
      td {
            border: 1px solid;
            padding: 1rem;
      }

      td {
            padding: 3.4rem 6rem;
      }

      /* #e6ebf7 */
      .custom-color-title .react-colorful {
            height: 10rem;
      }
      .custom-color-title .react-colorful__hue-pointer {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
      }

      .btn-design {
            @apply p-[.8rem] bg-btn-design;
      }

      .custom-color-title .react-colorful__saturation-pointer {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
      }

      .scroll-text-size::-webkit-scrollbar {
            width: 0.6rem;
      }

      /* Handle */
      .scroll-text-size::-webkit-scrollbar-thumb {
            background: rgb(30 41 59);
            border-radius: 0.2rem;
            /* border-radius: 10px; */
      }

      .scroll-desgin-custom::-webkit-scrollbar {
            width: 0.6rem;
      }

      /* Handle */
      .scroll-desgin-custom::-webkit-scrollbar-thumb {
            background: rgb(30 41 59);
            border-radius: 0.2rem;
            /* border-radius: 10px; */
      }

      .scroll-error-input::-webkit-scrollbar {
            width: 0.6rem;
      }

      /* Handle */
      .scroll-error-input::-webkit-scrollbar-thumb {
            background: red;
            border-radius: 0.2rem;
            /* border-radius: 10px; */
      }

      .scroll-form-answer-detail::-webkit-scrollbar {
            width: 0.6rem;
      }

      /* Handle */
      .scroll-form-answer-detail::-webkit-scrollbar-thumb {
            background: var(--scorll-form-answer-detail);
            border-radius: 0.2rem;
            /* border-radius: 10px; */
      }

      .scroll-common::-webkit-scrollbar {
            width: 0.4rem;
      }

      .scroll-common::-webkit-scrollbar-thumb {
            background: var(--btn-desgin);
            border-radius: 0.2rem;
      }

      .scroll-notification::-webkit-scrollbar {
            width: 0.6rem;
      }

      .scroll-hidden::-webkit-scrollbar {
            display: none;
      }
      .scroll-notification::-webkit-scrollbar-thumb {
            background: rgb(22, 73, 240);
            border-radius: 0.2rem;
            /* border-radius: 10px; */
      }

      .scroll-color-main::-webkit-scrollbar {
            width: 0.6rem;
            height: 4rem;
      }
      .scroll-color-main::-webkit-scrollbar-thumb {
            background: #8b8b8b;
            border-radius: 0.2rem;
      }

      .scroll-images::-webkit-scrollbar {
            padding: 0px !important;
            width: 2rem;
            height: 0.3rem;
      }
      .scroll-images::-webkit-scrollbar-thumb {
            background: var(--color-main);
            border-radius: 0.1rem;
            /* border-radius: 10px; */
      }

      *::-webkit-scrollbar {
            width: 0.8rem;
            height: 1rem;
      }

      *::-webkit-scrollbar-thumb {
            cursor: pointer;
            background: #abb1bae8;

            /* background: var(--color-main); */
            border-radius: 0.4rem;
            /* border-radius: 10px; */
      }
      *::-webkit-scrollbar-track {
            cursor: pointer;
            background-color: rgb(208 204 210 / 76%);
            /* background: rgba(203, 191, 191, 0.758); */
            border-radius: 0.4rem;
      }
      .auth-scroll::-webkit-scrollbar-thumb {
            cursor: pointer;
            background: #120565;

            /* background: var(--color-main); */
            border-radius: 0.4rem;
            /* border-radius: 10px; */
      }
      .auth-scroll::-webkit-scrollbar-track {
            cursor: pointer;
            background-color: rgb(198 168 168 / 76%);
            /* background: rgba(203, 191, 191, 0.758); */
            border-radius: 0.4rem;
      }
      .normal-scroll::-webkit-scrollbar-thumb {
            cursor: pointer;
            /* background: var(--color-main); */
            background: #69686be8;
            /* background: var(--bg-scrollbar-thumb-normal); */
            border-radius: 999px;
            /* border-radius: 10px; */
      }
      .normal-scroll::-webkit-scrollbar-track {
            cursor: pointer;
            background: var(--bg-scrollbar-track-normal);

            /* background: rgba(203, 191, 191, 0.758); */
            border-radius: 0.1rem;
      }

      input.input-form:focus + label {
            color: var(--color-main);
            font-weight: 700;
      }

      button {
            height: 2.8rem !important;
            padding-top: 0rem !important;
            padding-bottom: 0rem !important;
      }

      .wrapper * {
            pointer-events: none;
      }
      .color-core:hover {
            background-color: var(--bg-input-core);
      }

      .toast-item {
      }

      .showSidebarMobile {
            animation: sidebarShow 0.4s linear both;
      }

      .hideSidebarMobile {
            animation: sidebarHide 0.2s linear both;
      }

      .showProjectInfo {
            animation: showProjectInfo 0.4s ease-in-out both;
            z-index: 99999;
            position: fixed;
            max-height: 75vh;
            max-width: 80vw;
      }
      .logo-info {
            object-fit: contain;
            width: 5rem;
            margin: 0 0.2rem;
            border-radius: 0.4rem;
      }

      .show-bottom-not-save {
            animation: btnNotSaveAnimate 0.3s ease-in-out both;
      }

      @keyframes btnNotSaveAnimate {
            0% {
                  top: -10%;
            }

            100% {
                  top: 3rem;
            }
      }

      @keyframes showProjectInfo {
            0% {
                  top: 95%;
                  left: 0rem;
                  width: 75rem;
                  min-height: 46rem;
            }

            100% {
                  width: 75rem;
                  min-height: 46rem;
                  top: 50%;
                  left: 50%;
                  transform: translate3d(-50%, -50%, 0) scale(1);
                  opacity: 1;
            }
      }

      @keyframes sidebarShow {
            0% {
                  left: -50vw;
            }
            100% {
                  left: 0rem;
            }
      }

      @keyframes sidebarHide {
            0% {
                  left: 0rem;
            }
            100% {
                  left: -50vw;
            }
      }

      button,
      input {
            outline: none;
      }

      /* Handle on hover */
      .dark {
            --background: 222.2 84% 4.9%;
            --foreground: 210 40% 98%;
            --card: 222.2 84% 4.9%;
            --card-foreground: 210 40% 98%;
            --popover: 222.2 84% 4.9%;
            --popover-foreground: 210 40% 98%;
            --primary: 210 40% 98%;
            --primary-foreground: 222.2 47.4% 11.2%;
            --secondary: 217.2 32.6% 17.5%;
            --secondary-foreground: 210 40% 98%;
            --muted: 217.2 32.6% 17.5%;
            --muted-foreground: 215 20.2% 65.1%;
            --accent: 217.2 32.6% 17.5%;
            --accent-foreground: 210 40% 98%;
            --destructive: 0 62.8% 30.6%;
            --destructive-foreground: 210 40% 98%;
            --border: 217.2 32.6% 17.5%;
            --input: 217.2 32.6% 17.5%;
            --ring: 212.7 26.8% 83.9%;
            --chart-1: 220 70% 50%;
            --chart-2: 160 60% 45%;
            --chart-3: 30 80% 55%;
            --chart-4: 280 65% 60%;
            --chart-5: 340 75% 55%;
      }
}

@layer base {
      html {
            font-size: 62.5%;
      }

      body {
            /* background-color: var(--color-gap-empty); */
      }

      [contentEditable="true"]:empty:not(:focus):before {
            content: attr(data-text);
            font-size: 1.4rem;
            opacity: 0.4;
            font-weight: 600;
      }

      .heading-answer[contentEditable="true"]:empty:not(:focus):before {
            content: attr(data-text);
            font-size: 1.4rem;
            opacity: 0.4;
            font-weight: 600;
      }

      .input-setting[contentEditable="true"]:empty:not(:focus):before {
            content: attr(data-text);
            font-size: 1.3rem;
            opacity: 0.4;
            font-weight: 600;
      }

      .title-input[contentEditable="true"]:empty:not(:focus):before {
            content: attr(data-text);
            font-size: 1.9rem;
            opacity: 0.4;
            font-weight: 600;
      }

      .title-core[contentEditable="true"]:empty:not(:focus):before {
            content: attr(data-text);
            font-size: 5rem;
            opacity: 0.7;
            font-weight: 600;
      }

      .btn-primarily {
            background-color: var(--color-btn-primarily);
            padding: 0.4rem 0.8rem;
            /* opacity: 0.7; */
            font-size: 1.3rem;
            color: #fff;
      }

      .btn-primarily:hover {
            opacity: 1;
            /* background-color: #3b36db; */
      }

      input[type="number"] {
            -moz-appearance: textfield;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
            -webkit-appearance: none;
      }
}

@layer utilities {
      .inputAnswer:focus-within {
            border-color: var(--borderInputAnswerFocus) !important;
      }

      .input-core {
            background-color: #ffffff;
      }

      .input-core:hover {
            background-color: var(--bg-input-core);
      }

      .input-core-children {
            color: #000000;
      }
      .input-core:hover .input-core-children {
            color: #ffffff !important;
      }

      .title-input {
            color: var(--bg-input-core-2) !important;
      }

      .reset-border-outline {
            border: none;
            outline: none;
      }

      .text-balance {
            text-wrap: balance;
      }

      .border-shadow-normal {
            @apply border-[1px] border-slate-300  rounded-md shadow-md;
      }

      .text-h2 {
            @apply text-[2.6rem] sm:text-[3.2rem] text-textMain font-extrabold;
      }

      .text-h3 {
            @apply text-[1.6rem] sm:text-[2rem] text-textMain font-extrabold;
      }

      .text-h4,
      .text-medium {
            @apply text-[1.8rem] text-textMain font-extrabold;
      }

      .text-highlight {
            @apply text-textMain text-[1.6rem] font-bold;
      }

      .blockquote-color-1 {
            @apply text-[rgb(137_136_132)] text-[3rem] font-extrabold;
      }

      .input-answer-invalid {
            @apply border-[.1rem];
      }

      /*
		navigation
*/
      .nav {
            @apply p-[.8rem_1rem]  flex items-center gap-[1rem]  rounded-[.8rem] text-[1.2rem];
      }

      .nav__isActive {
            @apply bg-color-main text-[#fff];
      }

      .nav__normal {
            @apply text-[#000] hover:bg-blue-400;
      }

      .button-color-core {
            @apply hover:bg-color-main hover:text-[#fff];
      }

      .layout-down {
            @apply h-[calc(100vh-14rem)];
      }

      .section {
            @apply px-[3rem] py-[2rem];
      }

      .star {
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
      }
      .form-state {
            @apply min-w-[1.6rem] h-[2.3rem] relative flex items-center;
      }

      .form-state__message {
            @apply w-max h-full flex gap-[1rem] items-center p-[.2rem_.8rem] rounded-full text-[#fff];
      }

      .form-state__message--circle {
            @apply w-[1rem] aspect-square rounded-full bg-[#fff];
      }

      .form-state__message--public {
            @apply bg-blue-600;
      }

      .form-state__message--private {
            @apply bg-color-main;
      }

      .form-state__message--delete {
            @apply bg-red-600;
      }

      #custom-tabs .ant-tabs-tab {
            color: var(--text-theme) !important;
      }
      .custom-tabs .ant-tabs-tab-active {
            color: yellow !important; /* Màu khi tab được chọn */
      }

      .customSelect .ant-select-selector {
            background-color: var(--color-section-theme) !important;
            border: 0.1rem;
            border: 0.1rem solid var(--border-color-input) !important;
            color: #fff !important;
      }

      body.light .bg-design-size {
            background: #fff;
            color: #000;
      }

      body.dark .bg-design-size {
            background: var(--color-section-theme);
            color: #fff;
            border: 0.1rem solid var(--border-color-input);
      }

      body.dark .bg-design-size input {
            border: none !important;
      }

      .customSelect .ant-select-selection-item {
            color: var(--text-theme) !important;
      }

      .customSelect .ant-select-arrow {
            color: var(--text-theme) !important;
      }
      #custom-tabs .ant-tabs-nav {
            display: none !important;
      }
      #custom-tabs .ant-tabs-nav::before {
            border-bottom: 0.1rem solid var(--border-color-input) !important;
      }
      .hidden-border-table table,
      th,
      td {
            border: none !important;
      }
}

@layer base {
      * {
            @apply border-border;
      }
      body {
            /* @apply bg-background text-foreground; */
      }
}
